{% extends 'base.html' %}

{% block content %}

    <!--Page Title-->
    <section class="page-title-two bg-color-1 centred">
        <div class="pattern-layer">
            <div class="pattern-1" style="background-image: url(assets/images/shape/shape-9.png);"></div>
            <div class="pattern-2" style="background-image: url(assets/images/shape/shape-10.png);"></div>
        </div>
        <div class="auto-container">
            <div class="content-box clearfix">
                <h1>Property Listings</h1>
                <ul class="bread-crumb clearfix">
                    <li><a href="/">Home</a></li>
                    <li>Latest Listings</li>
                </ul>
            </div>
        </div>
    </section>
    <!--End Page Title-->

    {% if get_messages(request)  %}
        <section class="subscribe-section bg-color-3">
            <div class="pattern-layer" style="background-image: url(assets/images/shape/shape-2.png);"></div>
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 text-column">
                        <div class="text">
                            <span>Message</span>
                            {% for alert in get_messages(request) %}
                                {% if loop.last %}
                                    <h2> {{alert.message}}.  
                                    </h2>
                                {% endif %} 
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>   
    {% endif %}    


    <!-- property-page-section -->
    <section class="property-page-section property-grid">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-4 col-md-12 col-sm-12 sidebar-side">
                    <div class="default-sidebar property-sidebar">
                        <div class="filter-widget sidebar-widget">
                            <div class="widget-title">
                                <h5>Listings</h5>
                            </div>
                            <form method='get'>
                                <div class="widget-content">
                                    <div class="select-box">
                                        <select class="wide" name="status">
                                            <option data-display="All Type">All Type</option>
                                            <option value="Sale">Sale</option>
                                            <option value="Rent">Rent</option>
                                            <option value="Lease">Lease</option>
                                        </select>
                                    </div>
                                    <div class="field-input inner-box default-form">
                                        <input type='text' class="select-box" name="state" placeholder="State...">
                                    </div>
                                    <div class="field-input inner-box default-form">
                                        <input type='text' class="select-box" name="city" placeholder="City...">
                                    </div>
                                    <div class="field-input inner-box default-form">
                                        <input type='number' class="select-box" name="price" placeholder="₦...">
                                    </div>
                                    <div class="select-box">
                                        <select class="wide" name="amenities">
                                            <option data-display="Select Amenities">Select Amenities</option>
                                            <option value="Air Conditioning">Air Conditioning</option>
                                            <option value="Cleaning Service">Cleaning Service</option>
                                            <option value="Dishwasher">Dishwasher</option>
                                            <option value="Hardwood Flows">Hardwood Flows</option>
                                            <option value="Swimming Pool">Swimming Pool</option>
                                            <option value="Outdoor Shower">Outdoor Shower</option>
                                            <option value="Microwave">Microwave</option>
                                            <option value="Pet Friendly">Pet Friendly</option>
                                            <option value="Basketball Court">Basketball Court</option>
                                            <option value="Refrigerator">Refrigerator</option>
                                            <option value="Gym">Gym</option>
                                        </select>
                                    </div>
                                    <div class="filter-btn">
                                        <button type="submit" class="theme-btn btn-one"><i
                                                class="fas fa-filter"></i>&nbsp;Filter</button>
                                    </div>
                                </div>
                            </form>
                        </div>

    
                        <div class="category-widget sidebar-widget">
                            <div class="widget-title">
                                <h5>Status Of Property</h5>
                            </div>
                            <ul class="category-list clearfix">
                                {% for all_listing in all_listings %}
                                    <li><a href="#">{{all_listing.property_status}} <span>({{all_listing.property_status|count}})</span></a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="category-widget sidebar-widget">
                            <div class="widget-title">
                                <h5>Amenities</h5>
                            </div>
                            <ul class="category-list clearfix">
                                {% for all_listing in all_listings %}
                                    <li><a href="#">{{all_listing.amenities}} <span>({{all_listing.amenities|count}})</span></a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-12 col-sm-12 content-side">
                    <div class="property-content-side">
                        <div class="item-shorting clearfix">
                            <div class="left-column pull-left">
                                <h5>Search Reasults: <span>Showing {{page_obj.number}}-{{page_obj.number + 5}} of {{listings|count}} Listings</span></h5>
                            </div>
                            <div class="right-column pull-right clearfix">
                                <div class="short-box clearfix">
                                    <div class="select-box">
                                        <form method="get" id="form-sort">
                                            <select class="wide" name="sort" onchange="$('#form-sort').submit()">
                                                <option data-display="Sort by: Newest" value="Newest"> Newest</option>
                                                <option data-display="Sort by: Seller" value="Seller">Seller</option>
                                                <option data-display="Sort by: Buyer" value="Buyer">Buyer</option>
                                                <option data-display="Sort by: Broker" value="Broker/Realtor">Broker/Realtor</option>
                                            </select>
                                        </form>
                                    </div>
                                </div>
                                <div class="short-menu clearfix">
                                    <button class="list-view"><i class="icon-35"></i></button>
                                    <button class="grid-view on"><i class="icon-36"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="wrapper grid">
                            <div class="deals-list-content list-item">
                                {% for listing in listings %}
                                    <div class="deals-block-one">
                                        <div class="inner-box">
                                            <div class="image-box">
                                                <figure class="image"><img src="{{listing.feature_image_1.url}}" alt="">
                                                </figure>
                                                <div class="batch"><i class="icon-11"></i></div>
                                                <span class="category">Featured</span>
                                                <div class="buy-btn"><a href="#">For {{listing.property_status|title}}</a></div>
                                            </div>
                                            <div class="lower-content">
                                                <div class="title-text">
                                                    <h4><a href="#">{{listing.property_name|title}}</a></h4>
                                                </div>
                                                <div class="price-box clearfix">
                                                    <div class="price-info pull-left">
                                                        <h6>Start From</h6>
                                                        <h4>₦{{listing.property_price|intcomma}}</h4>
                                                    </div>
                                                    <div class="author-box pull-right">
                                                        <figure class="author-thumb">
                                                            <img src="{{listing.user.picture.url}}" alt="">
                                                            <span>{% if listing.user.company_name != 'None' %}{{listing.user.company_name|title}}{% else %}{{listing.user.first_name}}{% endif %}</span>
                                                        </figure>
                                                    </div>
                                                </div>
                                                <p>{{listing.property_description[:89]}}...</p>
                                                <ul class="more-details clearfix">
                                                    <li><i class="icon-14"></i>{{listing.bedrooms}} Beds</li>
                                                    <li><i class="icon-15"></i>{{listing.bathrooms}} Baths</li>
                                                    <li><i class="icon-16"></i>{{listing.property_size}} Sq Ft</li>
                                                </ul>
                                                <div class="other-info-box clearfix">
                                                    <div class="btn-box pull-left"><a href="/listings/{{listing.slug}}/"
                                                            class="theme-btn btn-two">See Details</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="deals-block-one">
                                        <div class="inner-box">
                                            <div class="image-box">
                                                <figure class="image"><img src="{{ static ('assets/images/resource/deals-3.jpg') }}" alt="">
                                                </figure>
                                                <div class="batch"><i class="icon-11"></i></div>
                                                <span class="category">Featured</span>
                                                <div class="buy-btn"><a href="#">For Sale</a></div>
                                            </div>
                                            <div class="lower-content">
                                                <div class="title-text">
                                                    <h4><a href="#">No Lisitings Found</a></h4>
                                                </div>
                                                <div class="price-box clearfix">
                                                    <div class="price-info pull-left">
                                                        <h6>Start From</h6>
                                                        <h4>...</h4>
                                                    </div>
                                                    <div class="author-box pull-right">
                                                        <figure class="author-thumb">
                                                            <span>...</span>
                                                        </figure>
                                                    </div>
                                                </div>
                                                <p>No Listing Found. Kindly check back later</p>
                                                <ul class="more-details clearfix">
                                                    <li><i class="icon-14"></i>... Beds</li>
                                                    <li><i class="icon-15"></i>... Baths</li>
                                                    <li><i class="icon-16"></i>... Sq Ft</li>
                                                </ul>
                                                <div class="other-info-box clearfix">
                                                    <div class="btn-box pull-left"><a href="#"
                                                            class="theme-btn btn-two">See Details</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="deals-grid-content grid-item">
                                <div class="row clearfix">
                                    {% for listing in listings %}
                                        <div class="col-lg-6 col-md-6 col-sm-12 feature-block">
                                            <div class="feature-block-one">
                                                <div class="inner-box">
                                                    <div class="image-box">
                                                        <figure class="image"><img src="{{listing.feature_image_1.url}}"
                                                                alt=""></figure>
                                                        <div class="batch"><i class="icon-11"></i></div>
                                                        <span class="category">Featured</span>
                                                    </div>
                                                    <div class="lower-content">
                                                        <div class="author-info clearfix">
                                                            <div class="author pull-left">
                                                                <figure class="author-thumb"><img
                                                                        src="{{listing.user.picture.url}}" alt="">
                                                                </figure>
                                                                <h6>{% if listing.user.company_name is none %}{{listing.user.company_name|title}}{% else %}{{listing.user.first_name}} {{listing.user.last_name}}{% endif %}</h6>
                                                            </div>
                                                            <div class="buy-btn pull-right"><a href="#">For
                                                                    {{listing.property_status|title}}</a></div>
                                                        </div>
                                                        <div class="title-text">
                                                            <h4><a href="#">{{listing.property_name|title}}</a></h4>
                                                        </div>
                                                        <div class="price-box clearfix">
                                                            <div class="price-info pull-left">
                                                                <h6>Start From</h6>
                                                                <h4>₦{{listing.property_price|intcomma}}</h4>
                                                            </div>
                                                        </div>
                                                        <p>{{listing.property_description[:89]}} ...</p>
                                                        <ul class="more-details clearfix">
                                                            <li><i class="icon-14"></i>{{listing.bedrooms}} Beds</li>
                                                            <li><i class="icon-15"></i>{{listing.bathrooms}} Baths</li>
                                                            <li><i class="icon-16"></i>{{listing.property_size}} Sq Ft</li>
                                                        </ul>
                                                        <div class="btn-box"><a href="/listings/{{listing.slug}}/"
                                                                class="theme-btn btn-two">See Details</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="col-lg-6 col-md-6 col-sm-12 feature-block">
                                            <div class="feature-block-one">
                                                <div class="inner-box">
                                                    <div class="image-box">
                                                        <figure class="image"><img src="{{ static ('assets/images/feature/feature-1.jpg')}}"
                                                                alt=""></figure>
                                                        <div class="batch"><i class="icon-11"></i></div>
                                                        <span class="category">Featured</span>
                                                    </div>
                                                    <div class="lower-content">
                                                        <div class="author-info clearfix">
                                                            <div class="author pull-left">
                                                                <h6>...</h6>
                                                            </div>
                                                            <div class="buy-btn pull-right"><a href="#">For
                                                                    Buy</a></div>
                                                        </div>
                                                        <div class="title-text">
                                                            <h4><a href="#">No Listings Found</a></h4>
                                                        </div>
                                                        <div class="price-box clearfix">
                                                            <div class="price-info pull-left">
                                                                <h6>Start From</h6>
                                                                <h4>₦...</h4>
                                                            </div>
    
                                                        </div>
                                                        <p>No Listing Found. Kindly check back later.</p>
                                                        <ul class="more-details clearfix">
                                                            <li><i class="icon-14"></i>... Beds</li>
                                                            <li><i class="icon-15"></i>... Baths</li>
                                                            <li><i class="icon-16"></i>... Sq Ft</li>
                                                        </ul>
                                                        <div class="btn-box"><a href="#"
                                                                class="theme-btn btn-two">See Details</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% if is_paginated %}
                            <div class="pagination-wrapper">
                                <ul class="pagination clearfix">
                                    {% set number_of_pages = paginator.page_range|count %}
                                    {% set starter_counter = 1 %}
                                    {% set current_counter = 0 %}
                                    {% set controller = 6 %}
                                    {% if number_of_pages >= 3 %}
                                        {% set number_range = 3 %}
                                    {% else %}
                                        {% set number_range = number_of_pages + 1 %}
                                    {% endif %}

                                    {% if current_counter != controller %}
                                        {% for k in range(starter_counter, number_range)  %}
                                            {% if k <= number_of_pages %}
                                                {% if page_obj.number == k %}
                                                    <li><a href="?page={{k}}" class="current">{{k}}</a></li>
                                                    {% if not loop.first %}
                                                        {% set starter_Counter = starter_Counter + 1 %}
                                                        {% set number_range = number_range + 1 %}
                                                    {% endif %}
                                                {% else %}
                                                    <li><a href="?page={{k}}">{{k}}</a></li>
                                                {% endif %}
                                                {% set current_counter = current_counter + 1 %}
                                            {% endif %}
                                        {% endfor %}
                                    {% elif starter_Counter == controller and number_range -  1 > number_of_pages %}
                                        {% set controller = controller + 1 %}
                                    {% endif %} 
                                    {% if page_obj.has_next %}
                                        <li><a href="?page={{ page_obj.next_page_number }}"><i class="fas fa-angle-right"></i></a></li>
                                    {% else %}
                                        <li><a href="#"><i class="fas fa-angle-right disbled"></i></a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- property-page-section end -->

{% endblock content %}