{% extends 'base.html' %}

{% block content %}

    <!--Page Title-->
    <section class="page-title-two bg-color-1 centred">
        <div class="pattern-layer">
            <div class="pattern-1" style="background-image: url(assets/images/shape/shape-9.png);"></div>
            <div class="pattern-2" style="background-image: url(assets/images/shape/shape-10.png);"></div>
        </div>
        <div class="auto-container">
            <div class="content-box clearfix">
                <h1>Lisiting Details</h1>
                <ul class="bread-crumb clearfix">
                    <li><a href="/">Home</a></li>
                    <li>Lisiting Details</li>
                </ul>
            </div>
        </div>
    </section>
    <!--End Page Title-->


    <!-- property-details -->
    <section class="property-details property-details-one">
        <div class="auto-container">
            <div class="top-details clearfix">
                <div class="left-column pull-left clearfix">
                    <h3>{{listing.property_name|title}}</h3>
                    <div class="author-info clearfix">
                        <div class="author-box pull-left">
                            <figure class="author-thumb"><img src="{{listing.user.picture.url}}" alt=""></figure>
                            <h6>{% if listing.user.company_name != 'None' %}{{listing.user.company_name|title}}{% else %}{{listing.user.first_name}} {{listing.user.last_name}}{% endif %}</h6>
                        </div>
                    </div>
                </div>
                <div class="right-column pull-right clearfix">
                    <div class="price-inner clearfix">
                        <ul class="category clearfix pull-left">
                            <li><a href="#">{{listing.property_category|title}}</a></li>
                            <li><a href="#">For {{listing.property_status}}</a></li>
                        </ul>
                        <div class="price-box pull-right">
                            <h3>₦{{listing.property_price|intcomma}}</h3>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            {% if get_messages(request)  %}
                <section class="subscribe-section bg-color-3">
                    <div class="pattern-layer" style="background-image: url(assets/images/shape/shape-2.png);"></div>
                    <div class="auto-container">
                        <div class="row clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12 text-column">
                                <div class="text">
                                    <span>Message</span>
                                    {% for alert in get_messages(request) %}
                                        {% if loop.last %}
                                            <h2> {{alert.message}}.  
                                            </h2>
                                        {% endif %} 
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </section>   
            {% endif %}    
            <br>  
            <div class="row clearfix">
                <div class="col-lg-8 col-md-12 col-sm-12 content-side">
                    <div class="property-details-content">
                        <div class="carousel-inner">
                            <div class="single-item-carousel owl-carousel owl-theme owl-dots-none">
                                <figure class="image-box"><img src="{{listing.gallery_image_1.url}}" alt=""></figure>
                                <figure class="image-box"><img src="{{listing.gallery_image_2.url}}" alt=""></figure>
                                <figure class="image-box"><img src="{{listing.gallery_image_3.url}}" alt=""></figure>
                            </div>
                        </div>
                        <div class="discription-box content-widget">
                            <div class="title-box">
                                <h4>Property Description</h4>
                            </div>
                            <div class="text">
                                <p>{{listing.property_description|capitalize}}</p>
                            </div>
                        </div>
                        <div class="details-box content-widget">
                            <div class="title-box">
                                <h4>Property Details</h4>
                            </div>
                            <ul class="list clearfix">
                                {% set listing_id = listing.id|string|upper %}
                                <li>Property ID: <span>{{listing_id.split('-')[0]}}</span></li>
                                <li>Rooms: <span>{{listing.rooms}}</span></li>
                                <li>Garage Size: <span>{{listing.garage_size}} Sq Ft</span></li>
                                <li>Property Price: <span>₦{{listing.property_price|intcomma}}</span></li>
                                <li>Bedrooms: <span>{{listing.bedrooms}}</span></li>
                                <li>Year Built: <span>{{listing.year_built}}</span></li>
                                <li>Property Type: <span>{{listing.property_category}}</span></li>
                                <li>Bathrooms: <span>{{listing.bathrooms}}</span></li>
                                <li>Property Status: <span>For {{listing.property_status|title}}</span></li>
                                <li>Property Size: <span>{{listing.property_size}} Sq Ft</span></li>
                                <li>Garage: <span>01</span></li>
                            </ul>
                        </div>
                        <div class="amenities-box content-widget">
                            <div class="title-box">
                                <h4>Amenities</h4>
                            </div>
                            <ul class="list clearfix">
                                {% for amenity in listing.amenities %}
                                    <li>{{amenity|title}}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="floorplan-inner content-widget">
                            <div class="title-box">
                                <h4>Gallery</h4>
                            </div>
                            <ul class="accordion-box">
                                <li class="accordion block active-block">
                                    <div class="acc-btn active">
                                        <div class="icon-outer"><i class="fas fa-angle-down"></i></div>
                                        <h5>Gallery Image 1</h5>
                                    </div>
                                    <div class="acc-content current">
                                        <div class="content-box">
                                            <p>{{listing.gallery_image_1_details}}</p>
                                            <figure class="image-box">
                                                <img src="{{listing.gallery_image_1.url}}" alt="">
                                            </figure>
                                        </div>
                                    </div>
                                </li>
                                <li class="accordion block">
                                    <div class="acc-btn">
                                        <div class="icon-outer"><i class="fas fa-angle-down"></i></div>
                                        <h5>Gallery Image 2</h5>
                                    </div>
                                    <div class="acc-content">
                                        <div class="content-box">
                                            <p>{{listing.gallery_image_2_details}}</p>
                                            <figure class="image-box">
                                                <img src="{{listing.gallery_image_2.url}}" alt="">
                                            </figure>
                                        </div>
                                    </div>
                                </li>
                                <li class="accordion block">
                                        <div class="acc-btn">
                                        <div class="icon-outer"><i class="fas fa-angle-down"></i></div>
                                        <h5>Gallery Image 3</h5>
                                    </div>
                                    <div class="acc-content">
                                        <div class="content-box">
                                            <p>{{listing.gallery_image_3_details}}</p>
                                            <figure class="image-box">
                                                <img src="{{listing.gallery_image_3.url}}" alt="">
                                            </figure>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="location-box content-widget">
                            <div class="title-box">
                                <h4>Location</h4>
                            </div>
                            <ul class="info clearfix">
                                <li><span>Address:</span> {{listing.address}}</li>
                                <li><span>Country:</span> {{listing.country|title}}</li>
                                <li><span>State/county:</span> California</li>
                                <li><span>Neighborhood:</span> {{listing.neighborhood|title}}</li>
                                <li><span>Zip/Postal Code:</span> {{listing.postal_code}}</li>
                                <li><span>City:</span> {{listing.city|title}}</li>
                            </ul>
                            <div class="google-map-area">
                                <div style="width: 100%"><iframe width="100%" 
                                    height="600" frameborder="0" scrolling="no" marginheight="0" 
                                    marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;
                                        height=600&amp;hl=en&amp;q={{listing.address|urlencode}}+(Lisiting%20Location)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
                                    </iframe></div>
                                
                            </div>
                        </div>
                        <div class="nearby-box content-widget">
                            <div class="title-box">
                                <h4>What’s Nearby?</h4>
                            </div>
                            <div class="inner-box">
                                <div class="single-item">
                                    <div class="icon-box"><i class="fas fa-book-reader"></i></div>
                                    <div class="inner">
                                        <h5>Locations Arround Listing:</h5>
                                        {% set nearby_list = listing.nearby.split(",") %}
                                        {% for nearby in nearby_list %}
                                            <div class="box clearfix">
                                                <div class="text pull-left">
                                                    <h6>{{nearby}}</h6>
                                                </div>
                                                <ul class="rating pull-right clearfix">
                                                    <li><i class="icon-39"></i></li>
                                                    <li><i class="icon-39"></i></li>
                                                    <li><i class="icon-39"></i></li>
                                                    <li><i class="icon-39"></i></li>
                                                    <li><i class="icon-39"></i></li>
                                                </ul>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="schedule-box content-widget">
                            <div class="title-box">
                                <h4>Schedule A Tour</h4>
                            </div>
                            <div class="form-inner">
                                <form method="post">
                                    {{csrf_input}}
                                    <input type="text" name="form-type" value="tour" style="display:none;">
                                    <div class="row clearfix">
                                        <div class="col-lg-6 col-md-12 col-sm-12 column">
                                            <div class="form-group">
                                                <i class="far fa-calendar-alt"></i>
                                                <input type="text" name="tour_date" placeholder="Tour Date" id="datepicker">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-sm-12 column">
                                            <div class="form-group">
                                                <i class="far fa-clock"></i>
                                                <input type="text" name="tour_time" placeholder="eg 12:00 (24hrs time format)">
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-sm-12 column">
                                            <div class="form-group">
                                                <input type="text" name="full_name" placeholder="Your Name" required="">
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-sm-12 column">
                                            <div class="form-group">
                                                <input type="email" name="email" placeholder="Your Email" required="">
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-sm-12 column">
                                            <div class="form-group">
                                                <input type="tel" name="phone_number" placeholder="Your Phone" required="">
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 column">
                                            <div class="form-group">
                                                <textarea name="message" placeholder="Your message"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 column">
                                            <div class="form-group message-btn">
                                                <button type="submit" class="theme-btn btn-one">Submit Now</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 sidebar-side">
                    <div class="property-sidebar default-sidebar">
                        <div class="author-widget sidebar-widget">
                            <div class="author-box">
                                <figure class="author-thumb"><img src="assets/images/resource/author-1.jpg" alt=""></figure>
                                <div class="inner">
                                    <h4>{{listing.user.first_name}} {{listing.user.last_name}}</h4>
                                    <ul class="info clearfix">
                                        <li><i class="fas fa-map-marker-alt"></i>{{listing.user.country|title}}, 
                                        {{listing.user.state|title}}</li>
                                        <li><i class="fas fa-phone"></i><a href="#">{{listing.user.phone_number[:5]}}...</a></li>
                                    </ul>
                                    {% if listing.user.user ==  request.user %}
                                        <div class="btn-box"><a href="/listing/update/{{listing.slug}}/">Edit Listing</a></div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-inner">
                                <form  method="post" class="default-form">
                                    {{csrf_input}}
                                    <input type="text" name="form-type" value="contact" style="display:none;">
                                    <div class="form-group">
                                        <input type="text" name="contact_full_name" placeholder="Your name" required="">
                                    </div>
                                    <div class="form-group">
                                        <input type="email" name="contact_email" placeholder="Your Email" required="">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="contact_phone_number" placeholder="Phone" required="">
                                    </div>
                                    <div class="form-group">
                                        <textarea name="contact_message" placeholder="Message"></textarea>
                                    </div>
                                    <div class="form-group message-btn">
                                        <button type="submit" class="theme-btn btn-one">Send Message</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% for property in listings %}
                {% if property.property_status == listing.property_status and property.slug != listing.slug %}
                    <div class="similar-content">
                        <div class="title">
                            <h4>Similar Properties</h4>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-6 col-sm-12 feature-block">
                                <div class="feature-block-one wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                                    <div class="inner-box">
                                        <div class="image-box">
                                            <figure class="image"><img src="{{property.feature_image_1.url}}" alt=""></figure>
                                            <div class="batch"><i class="icon-11"></i></div>
                                            <span class="category">Featured</span>
                                        </div>
                                        <div class="lower-content">
                                            <div class="author-info clearfix">
                                                <div class="author pull-left">
                                                    <figure class="author-thumb"><img src="{{property.user.picture.url}}" alt=""></figure>
                                                    <h6>{% if property.user.company_name != 'None' %}{{property.user.company_name|title}}{% else %}{{property.user.first_name}}{% endif %}</h6>
                                                </div>
                                                <div class="buy-btn pull-right"><a href="#">For {{property.property_status|title}}</a></div>
                                            </div>
                                            <div class="title-text"><h4><a href="/listing/{{property.slug}}/">{{property.property_name|title}}</a></h4></div>
                                            <div class="price-box clearfix">
                                                <div class="price-info pull-left">
                                                    <h6>Start From</h6>
                                                    <h4>₦{{property.property_price|intcomma}}</h4>
                                                </div>
                                            </div>
                                            <p>{{property.property_description[:60]...}}</p>
                                            <ul class="more-details clearfix">
                                                <li><i class="icon-14"></i>{{property.bedrooms}} Beds</li>
                                                <li><i class="icon-15"></i>{{property.bathrooms}} Baths</li>
                                                <li><i class="icon-16"></i>{{property.property_size}} Sq Ft</li>
                                            </ul>
                                            <div class="btn-box"><a href="/listing/{{property.slug}}/" class="theme-btn btn-two">See Details</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </section>
    <!-- property-details end -->

{% endblock content %}