<!DOCTYPE html>
<html lang="en">

{% include 'partials/variable_decleration.html' %}

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<title>
    {% block title %}Agentx | Pro Agent For Everything {% endblock title %}
</title>

<!-- Fav Icon -->
{% block favicon %}
    <link rel="icon" href="{{ static ('assets/images/favicon.ico') }}" type="image/x-icon">
{% endblock favicon %}

<!-- Google Fonts -->
{% block fonts %}
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">
{% endblock fonts %}


<!-- Stylesheets -->
{% block styles %}
    <link href="{{ static ('assets/css/font-awesome-all.css') }}" rel="stylesheet">
    <link href="{{ static ('assets/css/flaticon.css') }}" rel="stylesheet">
    <link href="{{ static ('assets/css/owl.css') }}" rel="stylesheet">
    <link href="{{ static ('assets/css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ static ('assets/css/jquery.fancybox.min.css') }}" rel="stylesheet">
    <link href="{{ static ('assets/css/animate.css') }}" rel="stylesheet">
    <link href="{{ static ('assets/css/jquery-ui.css') }}" rel="stylesheet">
    <link href="{{ static ('assets/css/nice-select.css') }}" rel="stylesheet">
    <link href="{{ static ('assets/css/color/theme-color.css') }}" id="jssDefault" rel="stylesheet">
    <link href="{{ static ('assets/css/switcher-style.css') }}" rel="stylesheet">
    <link href="{{ static ('assets/css/style.css') }}" rel="stylesheet">
    <link href="{{ static ('assets/css/responsive.css') }}" rel="stylesheet">
{% endblock styles %}

</head>


<!-- page wrapper -->
<body>
    <div class="boxed_wrapper">


        <!-- preloader -->
        {% block preloader %}
            <div class="loader-wrap">
                <div class="preloader">
                    <div class="preloader-close"><i class="far fa-times"></i></div>
                    <div id="handle-preloader" class="handle-preloader">
                        <div class="animation-preloader">
                            <div class="spinner"></div>
                            <div class="txt-loading">
                                <span data-text-preloader="a" class="letters-loading">
                                    a
                                </span>
                                <span data-text-preloader="g" class="letters-loading">
                                    g
                                </span>
                                <span data-text-preloader="e" class="letters-loading">
                                    e
                                </span>
                                <span data-text-preloader="n" class="letters-loading">
                                    n
                                </span>
                                <span data-text-preloader="t" class="letters-loading">
                                    t
                                </span>
                                <span data-text-preloader="x" class="letters-loading">
                                    x
                                </span>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
        {% endblock preloader %}
        <!-- preloader end -->


        <!-- main header -->
        {% block header %}
            <header class="main-header">
                <!-- header-top -->
                <div class="header-top">
                    <div class="top-inner clearfix">
                        <div class="left-column pull-left">
                            <ul class="info clearfix">
                                <li><i class="far fa-clock"></i>Mon - Sat  9.00 - 18.00</li>
                                <li><i class="far fa-envelope"></i><a href="mailto:contact@ajentx.com">contact@ajentx.com</a></li>
                            </ul>
                        </div>
                        <div class="right-column pull-right">
                            <ul class="social-links clearfix">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                            </ul>
                            <div class="sign-box">
                                {% if request.user.is_authenticated %}
                                    <a href="{{url('logout')}}"><i class="fas fa-user"></i>Logout</a>
                                {% else %}
                                    <a href="{{url('signin')}}"><i class="fas fa-user"></i>Signin</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock header %}

            <!-- header-lower -->
            {% block headerLower %}
            <div class="header-lower">
                <div class="outer-box">
                    <div class="main-box">
                        <div class="logo-box">
                            <figure class="logo"><a href="index.html"><img src="{{ static ('assets/images/logo.png') }}" alt=""></a></figure>
                        </div>
                        <div class="menu-area clearfix">
                            <!--Mobile Navigation Toggler-->
                            <div class="mobile-nav-toggler">
                                <i class="icon-bar"></i>
                                <i class="icon-bar"></i>
                                <i class="icon-bar"></i>
                            </div>
                            <nav class="main-menu navbar-expand-md navbar-light">
                                <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                                    <ul class="navigation clearfix">
                                        {% macro path_finder(path) %}
                                            {% if request.path == path %}
                                                {{ caller() }}
                                            {% endif %}
                                        {% endmacro %}

                                        <li class="{% call path_finder('/') %}current{% endcall %}"><a href="{{url('home')}}"><span>Home</span></a></li>
                                        <li class="{% call path_finder('/services/') %}current{% endcall %}"><a href="{{url('service')}}"><span>Services</span></a></li> 
                                        <li class="{% call path_finder('/blog/post/') %}current{% endcall %}"><a href="{{url('post_list')}}"><span>Blog</span></a></li>
                                        <li class="{% call path_finder('/agents/list/') %}current{% endcall %}"><a href="{{url('agent_list')}}"><span>Agents</span></a></li> 
                                        <li class="{% call path_finder('/listings/') %}current{% endcall %} dropdown"><a href="{{url('listings')}}"><span>Listings</span></a>
                                        <ul>
                                            <li><a href="{{url('create_listings')}}">Add New Listing</a></li>
                                        </ul>
                                        
                                        </li>
                                        {% if request.user.is_authenticated %}
                                            <li class="{% call path_finder('/account/profile/create/') %}current{% endcall %}">
                                                <a href="{{url('profile_create')}}"><span>Profile</span></a>
                                            </li> 
                                        {% else %}
                                            <li class="{% call path_finder('/faq/') %}current{% endcall %}">
                                                <a href="{{url('faq')}}"><span>FAQ</span></a></li>  
                                        {% endif %}
                                        <li class="{% call path_finder('/contact/') %}current{% endcall %}"><a href="{{url('user-contact')}}"><span>Contact</span></a></li>   
                                    </ul>
                                </div>
                            </nav>
                        </div>
                        <div class="btn-box">
                            <a href="{{url('create_listings')}}" class="theme-btn btn-one"><span>+</span>Add Listing</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endblock headerLower %}

            <!--sticky Header-->
            {% block stickHeader %}
                <div class="sticky-header">
                    <div class="outer-box">
                        <div class="main-box">
                            <div class="logo-box">
                                <figure class="logo"><a href="index.html"><img src="{{ static ('assets/images/logo.png') }}" alt=""></a></figure>
                            </div>
                            <div class="menu-area clearfix">
                                <nav class="main-menu clearfix">
                                    <!--Keep This Empty / Menu will come through Javascript-->
                                </nav>
                            </div>
                            <div class="btn-box">
                                <a href="{{url('create_listings')}}" class="theme-btn btn-one"><span>+</span>Add Listing</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock stickHeader %}
        </header>
        <!-- main-header end -->

        <!-- Mobile Menu  -->
        {% block mobileHeader %}
            <div class="mobile-menu">
                <div class="menu-backdrop"></div>
                <div class="close-btn"><i class="fas fa-times"></i></div>
                
                <nav class="menu-box">
                    <div class="nav-logo"><a href="index.html"><img src="{{ static ('assets/images/logo-2.png') }}" alt="" title=""></a></div>
                    <div class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>
                    <div class="contact-info">
                        <h4>Contact Info</h4>
                        <ul>
                            <li><a href="mailto:support@ajentx.com">support@ajentx.com</a></li>
                            <li><a href="mailto:contact@ajentx.com">contact@ajentx.com</a></li>
                        </ul>
                    </div>
                    <div class="social-links">
                        <ul class="clearfix">
                            <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                            <li><a href="#"><span class="fab fa-facebook-square"></span></a></li>
                            <li><a href="#"><span class="fab fa-pinterest-p"></span></a></li>
                            <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                            <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                        </ul>
                    </div>
                </nav>
            </div><!-- End Mobile Menu -->
        {% endblock mobileHeader %}


        {% block content %} {% endblock content %}

        <!-- subscribe-section -->
        {% block subscribe %}
            {% include 'partials/subscription.html' %}
        {% endblock subscribe %}
        <!-- subscribe-section end -->

        {% block footer %}
            <!-- main-footer -->
            {% include 'partials/footer.html' %}
            <!-- main-footer end -->
        {% endblock footer %}

        <!--Scroll to top-->
        {% block scrollBtn %}
            <button class="scroll-top scroll-to-target" data-target="html">
                <span class="fal fa-angle-up"></span>
            </button>
        {% endblock scrollBtn %}
    </div>


    <!-- jequery plugins -->
    {% block scripts %}
        <script src="{{ static ('assets/js/jquery.js') }}"></script>
        <script src="{{ static ('assets/js/popper.min.js') }}"></script>
        <script src="{{ static ('assets/js/bootstrap.min.js') }}"></script>
        <script src="{{ static ('assets/js/owl.js') }}"></script>
        <script src="{{ static ('assets/js/wow.js') }}"></script>
        <script src="{{ static ('assets/js/validation.js') }}"></script>
        <script src="{{ static ('assets/js/jquery.fancybox.js') }}"></script>
        <script src="{{ static ('assets/js/appear.js') }}"></script>
        <script src="{{ static ('assets/js/scrollbar.js') }}"></script>
        <script src="{{ static ('assets/js/isotope.js') }}"></script>
        <script src="{{ static ('assets/js/jquery.nice-select.min.js') }}"></script>
        <script src="{{ static ('assets/js/jQuery.style.switcher.min.js') }}"></script>
        <script src="{{ static ('assets/js/jquery-ui.js') }}"></script>
        <script src="{{ static ('assets/js/nav-tool.js') }}"></script>
        <script src="{{ static ('assets/js/product-filter.js') }}"></script>

        <!-- main-js -->
        <script src="{{ static ('assets/js/script.js') }}"></script>
    {% endblock scripts %}

</body><!-- End of .page_wrapper -->

</html>
