{% extends 'base.html' %}

{% block content %} 

<!--Page Title-->
<section class="page-title-two bg-color-1 centred">
    <div class="pattern-layer">
        <div class="pattern-1" style="background-image: url(assets/images/shape/shape-9.png);"></div>
        <div class="pattern-2" style="background-image: url(assets/images/shape/shape-10.png);"></div>
    </div>
    <div class="auto-container">
        <div class="content-box clearfix">
            <h1>My Profile</h1>
            <ul class="bread-crumb clearfix">
                <li><a href="index.html">Home</a></li>
                <li>My Profile</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->



<!-- myprofile-section -->
<section class="myprofile-section sec-pad">
    <div class="auto-container">
        <div class="title">
            <h3>Update Your Profile </h3>
        </div>
        <div class="tabs-box">
            <ul class="tab-btns tab-buttons clearfix">
                <li class="tab-btn active-btn" data-tab="#tab-1"><span>1</span>General Information</li>
                <li class="tab-btn" data-tab="#tab-2"><span>2</span>Profile Status</li>
                <li class="tab-btn" data-tab="#tab-3"><span>3</span>Bio</li>
            </ul>
            <form>
                <div class="tabs-content">
                    {% if get_messages(request) %}
                        <section class="subscribe-section bg-color-3">
                            <div class="pattern-layer" style="background-image: url(assets/images/shape/shape-2.png);"></div>
                            <div class="auto-container">
                                <div class="row clearfix">
                                    <div class="col-lg-12 col-md-12 col-sm-12 text-column">
                                        <div class="text">
                                            <span>Message</span>
                                            {% for alert in get_messages(request) %}
                                                {% if loop.last %}
                                                    <h2> {{alert.message}} </h2>
                                                {% endif %} 
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>   
                    {% endif %}            
                    <div class="tab active-tab" id="tab-1">
                        <div class="general-information">
                            <h4><i class="icon-42"></i>General Information:</h4>
                            <div class="inner-box default-form">
                                <div class="row clearfix">
                                    <div class="col-lg-6 col-md-6 col-sm-12 column">
                                        <div class="field-input">
                                            <label>First Name</label>
                                            <input disabled required type='text' class="select-box" name="first_name" value='{{request.user.first_name|title}}'>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 column">
                                        <div class="field-input">
                                            <label>Last Name</label>
                                            <input disabled required type='text' class="select-box" name="last_name" value='{{request.user.last_name|title}}'>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 column">
                                        <div class="field-input">
                                            <label>Country</label>
                                            <input disabled required type='text' class="select-box" name="country" value="{{profile.country}}">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 column">
                                        <div class="field-input">
                                            <label>State</label>
                                            <input disabled required type='text' class="select-box" name="state" value="{{profile.state}}">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 column">
                                        <div class="field-input">
                                            <label>City</label>
                                            <input disabled required type='text' class="select-box" name="city" value="{{profile.city}}">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 column">
                                        <div class="field-input">
                                            <label>Phone Number</label>
                                            <input disabled required type='text' class="select-box" name="phone_number" value="{{profile.phone_number}}">
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 column">
                                        <div class="field-input">
                                            <label>Company Name</label>
                                            <input disabled type='text' class="select-box" name="company_name" value="{{profile.company_name}}">
                                        </div>
                                    </div>
                                </div>
                                <ul class="tab-btns tab-buttons clearfix">
                                    <li class="tab-btn active-btn" data-tab="#tab-2"><span>&gt;</span>Next</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tab" id="tab-2">
                        <div class="gallery-box">
                            <h4><i class="icon-16"></i>Status:</h4>
                            <div class="inner-box default-form">
                                <div class="row clearfix">
                                    <div class="col-lg-12 col-md-12 col-sm-12 column">
                                        <div class="field-input">
                                            <label>Status</label>
                                            <div class="select-box">
                                                <select disabled class="wide" name='status'>
                                                    <option value="{{profile.status|title}}">{{profile.status|title}}</option>
                                                    <option data-display="Current Status">Select Profile Status</option>
                                                    <option value="Seller">Seller</option>
                                                    <option value="Broker/Realtor">Broker/Realtor</option>
                                                    <option value="Buyer">Buyer</option>
                                                </select>
                                            </div>     
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 column">
                                        <div class="field-input">
                                            <label>Profile Image</label>
                                            <input disabled type='file' name="picture" class="theme-btn btn-one">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ul class="tab-btns tab-buttons clearfix">
                            <li class="tab-btn" data-tab="#tab-1" style="color: #2dbe6c;"><span>&lt;</span>Previous</li>
                            <li class="tab-btn" data-tab="#tab-3" style="color: #2dbe6c;"><span>&gt;</span>Next</li>
                        </ul>
                    </div>
                    <div class="tab" id="tab-3">
                        <div class="property-details">
                            <h4><i class="icon-19"></i>Bio Details:</h4>
                            <div class="inner-box default-form">
                                <div class="row clearfix">
                                    <div class="col-lg-12 col-md-12 col-sm-12 column">
                                        <div class="field-input">
                                            <label>Bio</label>
                                            <textarea disabled required placeholder="about you" name='bio'>{{profile.bio}}</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ul class="tab-btns tab-buttons clearfix">
                                <li class="tab-btn" data-tab="#tab-2" style="color: #2dbe6c;"><span>&lt;</span>Previous</li>
                            </ul>

                            <a  href="/account/profile/{{profile.slug}}/update/" class="theme-btn btn-one">Update</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- myprofile-section end -->
{% endblock content %}

{# override block #}
{% block subscribe %} {% endblock subscribe %}
