{% extends 'base.html' %}

{% block content %} 

<!--Page Title-->
<section class="page-title-two bg-color-1 centred">
    <div class="pattern-layer">
        <div class="pattern-1" style="background-image: url(assets/images/shape/shape-9.png);"></div>
        <div class="pattern-2" style="background-image: url(assets/images/shape/shape-10.png);"></div>
    </div>
    <div class="auto-container">
        <div class="content-box clearfix">
            <h1>Account Profile</h1>
            <ul class="bread-crumb clearfix">
                <li><a href="index.html">Home</a></li>
                <li>My Profile</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->



<!-- myprofile-section -->
<section class="myprofile-section sec-pad">
    <div class="auto-container">
        <div class="title">
            <h3>Delete Your Profile </h3>
        </div>
        <div class="tabs-box">
            <ul class="tab-btns tab-buttons clearfix">
                <li class="tab-btn active-btn " data-tab="#tab-1"><span>1</span>General Information</li>
                <li class="tab-btn" data-tab="#tab-2"><span>2</span>Profile Status</li>
                <li class="tab-btn" data-tab="#tab-3"><span>3</span>Bio</li>
            </ul>

            <div class="tabs-content">
                <section class="subscribe-section bg-color-3">
                    <div class="pattern-layer" style="background-image: url(assets/images/shape/shape-9.png);"></div>
                    <div class="auto-container">
                        <div class="row clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12 text-column">
                                <div class="text">
                                    <span>Account Deletion</span>
                                    <h4 style="position: relative; display: block; font-size: 23px; 
                                                line-height: 40px; color: #ffffff; font-weight: 700;}">
                                        You are about to delete your account. This process happens immediate and can be undone. 
                                        Account deletion will remove your account along with all associativiy; 
                                        this will limit future access to AjentX rebust features. </h4>
                                </div>
                                <form method='post' enctype='multipart/form-data'>
                                    {{ csrf_input }}
                                    <input type="submit" value ='Delete Account' class="theme-btn btn-two" style="background:#f94c4c; color: #ffffff; border: none;">
                                </form>
                            </div>
                        </div>
                    </div>
                </section>                       
            </div>
            
        </div>
    </div>
</section>
<!-- myprofile-section end -->
{% endblock content %}

{# override block #}
{% block subscribe %} {% endblock subscribe %}
