{% extends 'base.html' %}

{% block content %} 
    <!--Page Title-->
    <section class="page-title centred" style="background-image: url({{ static ('assets/images/background/page-title-4.jpg') }});">
        <div class="auto-container">
            <div class="content-box clearfix">
                <h1>Frequently Asked Questions</h1>
                <ul class="bread-crumb clearfix">
                    <li><a href="/">Home</a></li>
                    <li>Frequently Asked Questions</li>
                </ul>
            </div>
        </div>
    </section>
    <!--End Page Title-->

     {% if get_messages(request)  %}
        <section class="subscribe-section bg-color-3">
            <div class="pattern-layer" style="background-image: url({{ static ('assets/images/shape/shape-2.png') }});"></div>
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 text-column">
                        <div class="text">
                            <span>Message</span>
                            {% for alert in get_messages(request) %}
                                {% if loop.last %}
                                    <h2> {{alert.message}}.  
                                    </h2>
                                {% endif %} 
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>   
    {% endif %}   

    <!-- faq-page-section -->
    <section class="faq-page-section sec-pad">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-8 col-md-12 col-sm-12 content-column">
                    <div class="faq-content-side">
                        <div class="sec-title">
                            <h5>FAQ’S</h5>
                            <h2>Frequently Asked Questions.</h2>
                            <p>AjentX answer to your FAQ.</p>
                        </div>
                        <ul class="accordion-box">
                            <li class="accordion block active-block">
                                <div class="acc-btn active">
                                    <div class="icon-outer"><i class="fas fa-angle-down"></i></div>
                                    <h5>Do I really need an Agent when buying a property?</h5>
                                </div>
                                <div class="acc-content current">
                                    <div class="content-box">
                                        <p>Finding a preferred property can be tasking at times;
                                            Agents help cut that stress by doing the search for you and
                                            providing an array of property listings and chioces.
                                    </div>
                                </div>
                            </li>
                            <li class="accordion block">
                                <div class="acc-btn">
                                    <div class="icon-outer"><i class="fas fa-angle-down"></i></div>
                                    <h5>Can I trust an Agent?</h5>
                                </div>
                                <div class="acc-content">
                                    <div class="content-box">
                                        <p>We advice that you verify agent claim and listings before
                                            making any form of contact.</p>
                                        <ul class="list-style-one clearfix">
                                            <li>Verify agent listings independently from the
                                                respective ministries or authorities.</li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="accordion block">
                                <div class="acc-btn">
                                    <div class="icon-outer"><i class="fas fa-angle-down"></i></div>
                                    <h5>Do Agents have access to my Phone number or email?</h5>
                                </div>
                                <div class="acc-content">
                                    <div class="content-box">
                                        <p>No!!! Agent can only see your phone number when you message them directly with it
                                            in a request form either from the listing or agent page</p>
                                    </div>
                                </div>
                            </li>
                            <li class="accordion block">
                                <div class="acc-btn">
                                    <div class="icon-outer"><i class="fas fa-angle-down"></i></div>
                                    <h5>Agent is asking for payment?</h5>
                                </div>
                                <div class="acc-content">
                                    <div class="content-box">
                                        <p>Verify Agent and listings with the appropriate ministries and
                                            authorities before making payment of any kind.</p>
                                        <ul class="list-style-one clearfix">
                                            <li>Never make payment if you have not verified.</li>
                                            <li>Never make payment based on listing images only.</li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="accordion block">
                                <div class="acc-btn">
                                    <div class="icon-outer"><i class="fas fa-angle-down"></i></div>
                                    <h5>Is it safe to check out property with Agent?</h5>
                                </div>
                                <div class="acc-content">
                                    <div class="content-box">
                                        <p> Do not check out property with Agent in an unfamiliar terrain.</p>
                                        <ul class="list-style-one clearfix">
                                            <li>Ensure you go in company.</li>
                                            <li>Aviod lisitngs in remote and issolated areas.</li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="accordion block">
                                <div class="acc-btn">
                                    <div class="icon-outer"><i class="fas fa-angle-down"></i></div>
                                    <h5>Can I report an Agent ?</h5>
                                </div>
                                <div class="acc-content">
                                    <div class="content-box">
                                        <p> You can report an agent to us. Kindly use:</p>
                                        <ul class="list-style-one clearfix">
                                            <li>support@agentx.com</li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 sidebar-side">
                    <div class="faq-sidebar">
                        <div class="question-inner">
                            <div class="sec-title">
                                <h5>Submit Question</h5>
                                <h3>Ask Your Valuable Questions</h3>
                            </div>
                            <div class="form-inner">
                                <form method="post">
                                    {{csrf_input}}
                                    <div class="form-group">
                                        <input type="text" name="name" placeholder="Your name" required="">
                                    </div>
                                    <div class="form-group">
                                        <input type="email" name="email" placeholder="Your Email" required="">
                                    </div>
                                    <div class="form-group">
                                        <textarea name="message" placeholder="Your message"></textarea>
                                    </div>
                                    <div class="form-group message-btn">
                                        <button type="submit" class="theme-btn btn-one">Send Now</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- faq-page-section end -->
{% endblock content %}
