{% extends 'base.html' %}

{% block content %}

    <!-- banner-section -->
    <section class="banner-section" style="background-image: url({{ static ('assets/images/banner/banner-1.jpg')}});">
        <div class="auto-container">
            <div class="inner-container">
                <div class="content-box centred">
                    <h2>Find Property & Agents </h2>
                    <p>with listings across cross Nigeria.</p>
                </div>
                <div class="search-field">
                    <div class="tabs-box">
                        <div class="tabs-content info-group">
                            <div class="tab active-tab" id="tab-1">
                                <div class="inner-box">
                                    <div class="top-search">
                                        <form action="{{url('listings')}}" method="get" class="search-form">
                                            <div class="row clearfix">
                                                <div class="col-lg-4 col-md-12 col-sm-12 column">
                                                    <div class="form-group">
                                                        <label>Property Price</label>
                                                        <div class="field-input">
                                                            <i class="fas fa-search"></i>
                                                            <input type='search' class="select-box" name="price" placeholder="₦...">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-6 col-sm-12 column">
                                                    <div class="form-group">
                                                        <label>Location</label>
                                                        <div class="select-box">
                                                            <div class="field-input inner-box default-form">
                                                                <i class="far fa-compass"></i>
                                                                <input type='text' class="select-box" name="city" placeholder="   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; City...">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-6 col-sm-12 column">
                                                    <div class="form-group">
                                                        <label>Property Type</label>
                                                        <div class="select-box">
                                                            <select class="wide" name="status">
                                                                <option data-display="All Type">All Type</option>
                                                                <option value="Sale">Sale</option>
                                                                <option value="Rent">Rent</option>
                                                                <option value="Lease">Lease</option>
                                                                <option value="Sold Out">Sold Out</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="search-btn">
                                                <button type="submit"><i class="fas fa-search"></i>Search</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner-section end -->


    <!-- category-section -->
     {% if listings %}
        <section class="category-section centred">
            <div class="auto-container">
                <div class="inner-container wow slideInLeft animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <ul class="category-list clearfix">

                        {% set listings_counter = listings|count %}

                        {% if listings_counter > 1 %}
                            {% set get_listings = listings[:5]|random %}
                        {% else %}
                            {% set get_listings = listings %}
                        {% endif %}

                        {% for listing in get_listings %}
                        
                            <li>
                                <div class="category-block-one">
                                    <div class="inner-box">
                                        <div class="icon-box"><i class="icon-{{loop.index}}"></i></div>
                                        <h5><a href="#">{{listing.property_category}}</a></h5>
                                        {#<span>52</span>#}
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="more-btn"><a href="/accounts/login/" class="theme-btn btn-one">Get Started</a></div>
                </div>
            </div>
        </section>
        <!-- category-section end -->

        <!-- feature-section -->
        <section class="feature-section sec-pad bg-color-1">
            <div class="auto-container">
                <div class="sec-title centred">
                    <h5>Features</h5>
                    <h2>Recent Listings</h2>
                    <p>Multiple listings across different categories<br />spread across Nigeria.</p>
                </div>
                <div class="row clearfix">
                    {% set display_listings = listings[:3] %}

                    {% for listing in display_listings %}
                        <div class="col-lg-4 col-md-6 col-sm-12 feature-block">
                            <div class="feature-block-one wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                                <div class="inner-box">
                                    <div class="image-box">
                                        <figure class="image"><img src="{{ listing.feature_image_1.url }}" alt=""></figure>
                                        <div class="batch"><i class="icon-11"></i></div>
                                        <span class="category">Featured</span>
                                    </div>
                                    <div class="lower-content">
                                        <div class="author-info clearfix">
                                            <div class="author pull-left">
                                                <figure class="author-thumb"><img src="{{ listing.user.picture.url }}" alt=""></figure>
                                                <h6>{% if listing.user.company_name != 'None' %}{{listing.user.company_name|title}}{% else %}{{listing.user.first_name}} {{listing.user.last_name}}{% endif %}</h6>
                                            </div>
                                            <div class="buy-btn pull-right"><a href="#">For {{listing.property_status|title}}</a></div>
                                        </div>
                                        <div class="title-text"><h4><a href="/listings/{{listing.slug}}/">{{listing.property_name|title}}</a></h4></div>
                                        <div class="price-box clearfix">
                                            <div class="price-info pull-left">
                                                <h6>Start From</h6>
                                                <h4>₦{{listing.property_price|intcomma}}</h4>
                                            </div>
                                        </div>
                                        <p>{{listing.property_description[:89]}} ...</p>
                                        <ul class="more-details clearfix">
                                            <li><i class="icon-14"></i>{{listing.bedrooms}} Beds</li>
                                            <li><i class="icon-15"></i>{{listing.bathrooms}} Baths</li>
                                            <li><i class="icon-16"></i>{{listing.property_size}} Sq Ft</li>
                                        </ul>
                                        <div class="btn-box"><a href="/listings/{{listing.slug}}" class="theme-btn btn-two">See Details</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="more-btn centred"><a href="{{url('listings')}}" class="theme-btn btn-one">View All Listing</a></div>
            </div>
        </section>
        <!-- feature-section end -->
    {% endif %}


    <!-- video-section -->
    <section class="video-section centred" style="background-image: url({{ static ('assets/images/background/video-1.jpg')}});">
        <div class="auto-container">
            <div class="video-inner">
                {#
                    <div class="video-btn">
                        <a href="https://www.youtube.com/watch?v=nfP5N9Yc72A&amp;t=28s" class="lightbox-image" data-caption=""><i class="icon-17"></i></a>
                    </div>
                #}
            </div>
        </div>
    </section>
    <!-- video-section end -->

    
    <!-- chooseus-section -->
    <section class="chooseus-section">
        <div class="auto-container">
            <div class="inner-container bg-color-2">
                <div class="upper-box clearfix">
                    <div class="sec-title light">
                        <h5>Why AjentX?</h5>
                        <h2>Reasons To Choose AjentX</h2>
                    </div>
                    <div class="btn-box">
                        <a href="{{url('signup')}}" class="theme-btn btn-one">Get Started</a>
                    </div>
                </div>
                <div class="lower-box">
                    <div class="row clearfix">
                        <div class="col-lg-4 col-md-6 col-sm-12 chooseus-block">
                            <div class="chooseus-block-one">
                                <div class="inner-box">
                                    <div class="icon-box"><i class="icon-19"></i></div>
                                    <h4>Multiple Listings</h4>
                                    <p>Get free access to multiple listings across Nigeria in a snap.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 chooseus-block">
                            <div class="chooseus-block-one">
                                <div class="inner-box">
                                    <div class="icon-box"><i class="icon-26"></i></div>
                                    <h4>Find Agents</h4>
                                    <p>Find Agents attound you with ease.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 chooseus-block">
                            <div class="chooseus-block-one">
                                <div class="inner-box">
                                    <div class="icon-box"><i class="icon-21"></i></div>
                                    <h4>Personalized Service</h4>
                                    <p>Sign up as a seller, realtor or buyer, your chioce all for free.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- chooseus-section end -->

    {% if listings %}
        {% for listing in listings if listing.property_category == 'Sold Out' %}
            <!-- deals-section -->
            <section class="deals-section sec-pad">
                <div class="auto-container">
                    <div class="sec-title">
                        <h5>Hot Property</h5>
                        <h2>Recent Deals</h2>
                    </div>
                    <div class="deals-carousel owl-carousel owl-theme owl-dots-none nav-style-one">
                        <div class="single-item">
                            <div class="row clearfix">
                                <div class="col-lg-6 col-md-6 col-sm-12 deals-block">
                                    <div class="deals-block-one">
                                        <div class="inner-box">
                                            <div class="batch"><i class="icon-11"></i></div>
                                            <span class="category">Featured</span>
                                            <div class="lower-content">
                                                <div class="title-text"><h4><a href="/listings/{{listing.slug}}/">{{listing.property_name|title}}</a></h4></div>
                                                <div class="price-box clearfix">
                                                    <div class="price-info pull-left">
                                                        <h6>Start From</h6>
                                                        <h4>₦{{listing.property_price|intcomma}}</h4>
                                                    </div>
                                                </div>
                                                <p> {{listing.property_description[:140]}}...</p>
                                                <ul class="more-details clearfix">
                                                    <li><i class="icon-14"></i>{{listing.bedrooms}} Beds</li>
                                                    <li><i class="icon-15"></i>{{listing.bathrooms}} Baths</li>
                                                    <li><i class="icon-16"></i>{{listing.property_size}} Sq Ft</li>
                                                </ul>
                                                <div class="btn-box"><a href="/listings/{{listing.slug}}/" class="theme-btn btn-one">See Details</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 deals-block">
                                    <div class="image-box">
                                        <figure class="image"><img src="{{listing.gallery_image_1.url}}" alt="" style="height: 385px;"></figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- deals-section end -->
        {% endfor %}
    {% endif %}

    {% if agents %}
        <!-- team-section -->
        <section class="team-section sec-pad centred bg-color-1">
            <div class="pattern-layer" style="background-image: url(assets/images/shape/shape-1.png) }});"></div>
            <div class="auto-container">
                <div class="sec-title">
                    <h5>Recent Agents</h5>
                    <h2>New agent signup</h2>
                </div>

                <div class="single-item-carousel owl-carousel owl-theme owl-dots-none nav-style-one">
                    {% for agent in agents %}
                        <div class="team-block-one">
                            <div class="inner-box">
                                <figure class="image-box"><img src="{{ agent.picture.url }}" alt=""></figure>
                                <div class="lower-content">
                                    <div class="inner">
                                        <h4><a href="/agents/detail/{{agent.slug}}">{% if agent.company_name != 'None' %}{{ agent.company_name|title}}{% else %}{{ agent.first_name}} {{ agent.last_name}}{% endif %}s</a></h4>
                                        <span class="designation">{{agent.status|title}}</span>
                                        <ul class="social-links clearfix">
                                            <li><a href="{{agent.social_facebook}}" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="{{agent.social_twitter}}" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="{{agent.social_linkedin}}" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!-- team-section end -->
    {% endif %}


    <!-- cta-section -->
    <section class="cta-section bg-color-2">
        <div class="pattern-layer" style="background-image: url(assets/images/shape/shape-2.png) }});"></div>
        <div class="auto-container">
            <div class="inner-box clearfix">
                <div class="text pull-left">
                    <h2>Looking to Buy a New Property or <br />Sell an Existing One?</h2>
                </div>
                <div class="btn-box pull-right">
                    <a href="/listings/?sort=Rent" class="theme-btn btn-three">Rent Properties</a>
                    <a href="/listings/?sort=Seller" class="theme-btn btn-one">Buy Properties</a>
                </div>
            </div>
        </div>
    </section>
    <!-- cta-section end -->


    <!-- news-section -->
    <section class="news-section sec-pad">
        <div class="auto-container">
            <div class="sec-title centred">
                <h5>Blog & Article</h5>
                <h2>Stay Update With AjentX</h2>
                <p> Interactive post on the property market and lots more.</p>
            </div>
            <div class="row clearfix">
                {% set blog_listing = blog[:3] %}

                {% for post in blog %}
                    <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                        <div class="news-block-one wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image"><a href="#"><img src="{{ post.feature_image.url }}" alt=""></a></figure>
                                    <span class="category">Featured</span>
                                </div>
                                <div class="lower-content">
                                    <h4><a href="#">{{post.title|title}}</a></h4>
                                    <ul class="post-info clearfix">
                                        <li class="author-box">
                                            <figure class="author-thumb"><img src="{{post.author_image.url }}" alt=""></figure>
                                            <h5><a href="#">{{post.user.first_name|title}} {{post.user.last_name|title}}</a></h5>
                                        </li>
                                        <li>{{post.last_updated}}</li>
                                    </ul>
                                    <div class="text">
                                        <p>{{ post.detail[:60]}}...</p>
                                    </div>
                                    <div class="btn-box">
                                        <a href="/blog/post/{{post.slug}}/" class="theme-btn btn-two">See Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- news-section end -->
{% endblock content %}