{% extends 'base.html' %}

{% block content %} 
    <!--Page Title-->
    <section class="page-title centred" style="background-image: url({{ static('assets/images/background/page-title-3.jpg')}});">
        <div class="auto-container">
            <div class="content-box clearfix">
                <h1>Our Services</h1>
                <ul class="bread-crumb clearfix">
                    <li><a href="/">Home</a></li>
                    <li>Our Services</li>
                </ul>
            </div>
        </div>
    </section>
    <!--End Page Title-->


    <!-- feature-style-three -->
    <section class="feature-style-three service-page centred">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-4 col-md-6 col-sm-12 feature-block">
                    <div class="feature-block-two wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="icon-box"><i class="icon-24"></i></div>
                            <h4>Business Services</h4>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 feature-block">
                    <div class="feature-block-two wow fadeInUp animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="icon-box"><i class="icon-25"></i></div>
                            <h4>Real Estate Services</h4>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 feature-block">
                    <div class="feature-block-two wow fadeInUp animated" data-wow-delay="600ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="icon-box"><i class="icon-26"></i></div>
                            <h4>Individuals Services</h4>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 feature-block">
                    <div class="feature-block-two wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="icon-box"><i class="icon-27"></i></div>
                            <h4>Find Agents</h4>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 feature-block">
                    <div class="feature-block-two wow fadeInUp animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="icon-box"><i class="icon-28"></i></div>
                            <h4>Rent Properties</h4>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 feature-block">
                    <div class="feature-block-two wow fadeInUp animated" data-wow-delay="600ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="icon-box"><i class="icon-29"></i></div>
                            <h4>Sale Properties</h4>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- feature-style-three end -->


    <!-- testimonial-style-two -->
    <section class="testimonial-style-two" style="background-image: url({{ static ('assets/images/background/testimonial-1.jpg')}});">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-xl-6 col-lg-12 col-md-12 offset-xl-6 inner-column">
                    <div class="single-item-carousel owl-carousel owl-theme dots-style-one owl-nav-none">
                        <div class="testimonial-block-two">
                            <div class="inner-box">
                                <div class="icon-box"><i class="icon-18"></i></div>
                                <div class="text">
                                    <h3>“Our goal each day is to a seamless free platform to meet the needs of our users’.”</h3>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-block-two">
                            <div class="inner-box">
                                <div class="icon-box"><i class="icon-18"></i></div>
                                <div class="text">
                                    <h3>“Our goal each day is to a seamless free platform to meet the needs of our users’.”</h3>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-block-two">
                            <div class="inner-box">
                                <div class="icon-box"><i class="icon-18"></i></div>
                                <div class="text">
                                    <h3>“Our goal each day is to a seamless free platform to meet the needs of our users’.”</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- testimonial-style-two end -->


    <!-- team-section -->
    {% if listings %}
        <section class="team-section sec-pad centred">
            <div class="auto-container">
                <div class="sec-title">
                    <h5> Agents Listings</h5>
                    <h2>Recent Agents</h2>
                </div>
                <div class="row clearfix">
                    {% set listing_count = listings|length %}
                    {% for listing in listings %}
                        <div class="{% if listing_count == 1 %}
                            col-lg-12 col-md-12
                        {% elif listing_count == 2 %}
                            col-lg-6 col-md-6
                        {% else %}
                            col-lg-4 col-md-6
                        {% endif %} col-sm-12 team-block">
                            <div class="team-block-one wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                                <div class="inner-box">
                                    <figure class="image-box"><img src="{{listing.user.picture.url}}" alt=""></figure>
                                    <div class="lower-content">
                                        <div class="inner">
                                            <h4><a href="/agents/detail/{{listing.user.slug}}/">{{listing.user.user.get_full_name()}}</a></h4>
                                            <span class="designation">{{listing.user.status|title}}</span>
                                            <ul class="social-links clearfix">
                                                <li><a href="{{listing.user.social_facebook}}" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                                <li><a href="{{listing.user.social_twitter}}" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                                <li><a href="{{listing.user.social_linkedin}}" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}
    <!-- team-section end -->


    
<!-- subscribe-section -->
{% block subscribe %} {% endblock subscribe %}
<!-- subscribe-section end -->

{% endblock content %}
